// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
/*
 * Allwinner H713 (sun50iw12) HY310 board DTS
 * Mainline Linux 6.16 - ARM32 build
 * CCU-enabled version (v6)
 */

/dts-v1/;
#include <dt-bindings/clock/sun50i-h713-ccu.h>
#include <dt-bindings/reset/sun50i-h713-ccu.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "Allwinner H713 HY310 Board";
	compatible = "allwinner,hy310", "allwinner,sun50i-h713";

	#address-cells = <1>;
	#size-cells = <1>;

	interrupt-parent = <&gic>;

	chosen {
		bootargs = "console=ttyS0,115200 earlycon earlyprintk loglevel=8 root=/dev/sda2 rootwait rootfstype=ext4 clk_ignore_unused";
		stdout-path = "serial0:115200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	osc24M: osc24M-clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "osc24M";
	};

	osc32k: osc32k-clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "osc32k";
	};

	iosc: iosc-clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <16000000>;
		clock-output-names = "iosc";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0>;
			clocks = <&ccu CLK_CPUX>;
		};
		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <1>;
			clocks = <&ccu CLK_CPUX>;
		};
		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <2>;
			clocks = <&ccu CLK_CPUX>;
		};
		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <3>;
			clocks = <&ccu CLK_CPUX>;
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
		             <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
		             <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
		             <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <24000000>;
		arm,cpu-registers-not-fw-configured;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gic: interrupt-controller@3020000 {
			compatible = "arm,gic-400";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0x03020000 0x1000>,
			      <0x03040000 0x2000>,
			      <0x03060000 0x1000>,
			      <0x03080000 0x1000>;
		};

		ccu: clock-controller@2001000 {
			compatible = "allwinner,sun50i-h713-ccu";
			reg = <0x02001000 0x1000>;
			clocks = <&osc24M>, <&osc32k>, <&iosc>;
			clock-names = "hosc", "losc", "iosc";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		uart0: serial@2500000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x02500000 0x400>;
			interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clocks = <&ccu CLK_BUS_UART0>;
			resets = <&ccu RST_BUS_UART0>;
			status = "okay";
		};

		mmc2: mmc@4022000 {
			compatible = "allwinner,sun20i-d1-mmc";
			reg = <0x04022000 0x1000>;
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_MMC2>, <&ccu CLK_MMC2>;
			clock-names = "ahb", "mmc";
			resets = <&ccu RST_BUS_MMC2>;
			reset-names = "ahb";
			bus-width = <8>;
			max-frequency = <52000000>;
			cap-mmc-highspeed;
			mmc-ddr-1_8v;
			non-removable;
			status = "okay";
		};

		ehci0: usb@4200000 {
			compatible = "generic-ehci";
			reg = <0x04200000 0x100>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>;
			resets = <&ccu RST_BUS_EHCI0>;
			status = "okay";
		};

		ohci0: usb@4200400 {
			compatible = "generic-ohci";
			reg = <0x04200400 0x100>;
			interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_OHCI0>, <&ccu CLK_USB_OHCI0>;
			resets = <&ccu RST_BUS_OHCI0>;
			status = "okay";
		};

		ehci1: usb@4300000 {
			compatible = "generic-ehci";
			reg = <0x04300000 0x100>;
			interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI1>;
			resets = <&ccu RST_BUS_EHCI1>;
			status = "okay";
		};

		ohci1: usb@4300400 {
			compatible = "generic-ohci";
			reg = <0x04300400 0x100>;
			interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_OHCI1>, <&ccu CLK_USB_OHCI1>;
			resets = <&ccu RST_BUS_OHCI1>;
			status = "okay";
		};
	};
};
